/* Button states */
.btn-cart.btn-cart-adding {

}

/* Modal */

.ajaxcart-overlay {
    z-index: 9998;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    animation-name: overlayEaseIn;
}

.ajaxcart-modal {
    top: 10%;
    right: 0;
    left: 0;
    margin: auto;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 0 8px black;
    padding: 20px;
    background-color: white;
    animation-name: modalEaseIn;
}

.ajaxcart-modal, .ajaxcart-overlay {
    position: fixed;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

button.ajaxcart-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    color: black;
}

button.ajaxcart-close:hover,
button.ajaxcart-close:focus,
button.ajaxcart-close:active {
    color: rgb(117, 117, 117);
    background-color: transparent;
    transition: color 0.3s;
}

button.ajaxcart-close .ajaxcart-close-text {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
}

@keyframes modalEaseIn {
    from {top: 25%; opacity: 0;}
    to {top: 10%; opacity: 1;}
}

@keyframes overlayEaseIn {
    from {opacity: 0}
    to {opacity: 1}
}